[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_construction_work.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work09_construction.git
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/09_construction_mks.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_09_construction
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/09_construction
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/09_construction.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/09_construction_vj.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/09_construction.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work09.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/09_construction.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/09_construction.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/09_construction_zhangAle
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/09_construction_J.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_09_construction.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/09_construction.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/09_construction_systems.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work09
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/09_construction.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/09_construction
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_09_construction.git
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/09_construction_kevidgel
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw10.git
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/09_work.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_09_construction.git
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/09_Construction.git
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/09construction.git
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-09_construction.git
[submodule "haoGan"]
	path = haoGan
	url = https://github.com/haotianGan/construction_10
