[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_construction_work.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work09_construction.git
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/09_construction_mks.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_09_construction
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/09_construction
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/09_construction.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/09_construction_vj.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/09_construction.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work09.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/09_construction.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/09_construction.git
